<div appAnimateNumber></div>
<mat-grid-list cols="4" rowHeight="500">
  <mat-grid-tile *ngFor="let each of pokemons">

    <mat-card [appHoverEffect]="hoverOpacity" defaultOpacVal="0.8">
      <mat-card-header>
        <img mat-card-avatar [src]="each.image">
        <mat-card-title>{{each.name | uppercase}}</mat-card-title>
        <mat-card-subtitle>{{each.pokedex}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="each.image" [alt]="each.name">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button routerLink="detail/{{each._id}}">Details</a>
        <button mat-mini-fab color="warn" (click)="deletePokemon(each)" title="delete">X</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>